	<div id="footer_img">
		<span class="cata">
			<a href="about">
				<img src="../../work/img/icon_about.png" />關於彰化百寶村
			</a>
		</span>
		<span class="cata">
			<a href="news">
				<img src="../../work/img/icon_product.png" />村民公告
			</a>
		</span>
		<span class="cata">
			<a href="food">
				<img src="../../work/img/icon_news.png" />百寶村特產
			</a>
		</span>		
		<span class="cata">
			<a href="top_select">
				<img src="../../work/img/icon_play.png" />嚴選好伴手
			</a>
		</span>	
		<span class="cata">
			<a href="fun">
				<img src="../../work/img/icon_gift.png" />百寶村樂活趣
			</a>
		</span>	

		<div id="copyright">
			<img src="../../work/img/copyright.png" />
		</div>
	</div>	