<div class="About">
<div id="content_all">

	<div class="content_scroll">
		<div id="title">
			<img src="../../work/img/title1.png">
		</div>	
		<div id="content">
			彰化縣是地方特色產業的百寶故鄉!</br>
			彰化縣不只是農牧業大縣，是眾多美味食材蔬果肉品的國內重要產地。</br>
			彰化縣也同時是工業重鎮，眾多中小企業拼搏努力，創造無數出口奇蹟。</br>
			彰化縣也是文化、歷史、自然和觀光旅遊的基地，充滿無限生活樂趣。</br>
			</br>
			彰化縣產業豐富，百工各業，處處是寶! 彰化縣地方創意特色產業文化新園區，		【百寶村】不僅是產品平台，不僅是道之驛，更是一個具體而微的虛擬村落，
			囊括整個彰化縣特產，就好像一個充滿寶藏的村落，豐富多元有樂趣，親切溫暖有人情味，而來到百寶村的每個人，都是彰化的客人，需要用心款待 !
		</div>	
		<div class="blank"></div>
		<div id="title">
			<img src="../../work/img/title2.png">
		</div>
		<div id="content">
			來一趟彰化百寶村</br>
			感受埤頭鄉農會的米倉文化特色，品嚐特色輕食及下午茶</br>
			透過味蕾回味在地農業故事與記憶</br>
			</br>
			還有DIY體驗與導覽遊程</br>
			帶給您到彰化旅遊充實美好回憶</br>
			</br>
			彰化百寶村精選彰化在地特色伴手禮</br>
			經由政府及百寶村嚴格把關</br>
			篩選優良品質帶給您安心與信賴</br>
			讓您帶回滿滿的溫暖與心意分享給親朋好友。
		</div>	
		<div class="blank"></div>
		<div id="title">
			<img src="../../work/img/title3.png">
		</div>
		<div id="content">
			<ul>
				<li>「精心」挑選，超過百種彰化在地特色商品</li>
				<li>「放心」購買，所有商品經過安全檢驗核可</li>
				<li>「貼心」安排，來趟百寶村一次看完全彰化</li>
				<li>「開心」同樂，穀倉文化與各式DIY動手玩</li>
				<li>「窩心」服務，顧客至上只為讓您賓至如歸 </li>
			</ul>	
		</div>
		<div id="memo_content">
			彰化縣，是台灣的米倉，<br>
			稻米的主產地，<br>
			其中更以埤頭鄉，堪稱是米倉中的米倉，<br>
			米倉文化的孕育地，無限的稻田是壯觀的地景，<br>
			埤頭鄉農會老穀倉群，<br>
			以歷一甲子年歲，過去是官糧的儲藏所，<br>
			現在我們將其中一座穀倉，老建物賦予新風貌，<br>
			開設彰化百寶村－彰化特色物產館。<br>
			邀請您來白寶村尋寶、<br>
			感受米倉文化、品嘗輕食午茶、<br>
			彰化特色產業DIY，<br>
			同時一次購足彰化特色伴手禮...。 
		</div>
		<div id="memo">
			<img src="../../work/img/memo.png" width="270px" height="370px">
		</div>
		<div class="bottom">
			<img src="../../work/img/4in1.jpg">
		</div>	
		</br>
		</br>
		<div class="bottom">
			<img src="../../work/img/map-new.jpg">
		</div>	
		</br>
		</br>	
		<div class="bottom">
			<img src="../../work/img/time.jpg">
		</div>	
		</br>
		</br>	
	</div>	
</div>
</div>



