<div class="accordion-group">   
   <div class="cata_master">
      <a data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
          <img src="../../work/img/icon1.png" />
          <img src="../../work/img/sub1.png" />
     </a>   
      
  </div>

  <div id="collapse1" class="accordion-body collapse in">
      <div class="cata_sub">
        <div class="one">
          <a href="about">
              <img src="../../work/img/indroduce.png">
          </a>
        </div>  
      </div>  
  </div>
</div>
<div class="accordion-group">
  <div class="cata_master">
    <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
        <img src="../../work/img/icon5.png">
        <img src="../../work/img/sub5.png">
    </a>    
  </div>
  <div id="collapse2" class="accordion-body collapse">
      <div class="cata_sub">
        <div class="one">
          <a href="news">
              <img src="../../work/img/news.png">
          </a>
        </div>  
      </div>  
  </div>
</div>

<div class="accordion-group">
  <div class="cata_master">
    <a data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
        <img src="../../work/img/icon3.png">
        <img src="../../work/img/sub3.png">
    </a>    
  </div>
  <div id="collapse3" class="accordion-body collapse">
    <div class="cata_sub">
        <div class="one">
          <a href="food">
              <img src="../../work/img/specialty.png">
          </a>
        </div>  
      </div>
    <div class="cata_sub">
        <div class="one">
          <a href="life">
              <img src="../../work/img/life.png">
          </a>
        </div>  
    </div> 
    <div class="cata_sub">
        <div class="one">
          <a href="culture">
              <img src="../../work/img/culture.png">
          </a>
        </div>  
    </div> 
  </div>
</div>

<div class="accordion-group">
  <div class="cata_master">
    <a data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
        <img src="../../work/img/icon4.png">
        <img src="../../work/img/sub4.png">
    </a>    
  </div>
  <div id="collapse4" class="accordion-body collapse">
      <div class="cata_sub">
        <div class="one">
          <a href="top_select">
              <img src="../../work/img/mainstar.png">
          </a>
        </div>  
      </div>  
  </div>
</div>

<div class="accordion-group">
  <div class="cata_master">
    <a data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
        <img src="../../work/img/icon2.png">
        <img src="../../work/img/sub2.png">
    </a>    
  </div>
  <div id="collapse5" class="accordion-body collapse">
      <div class="cata_sub">
        <div class="one">
          <a href="fun">
              <img src="../../work/img/run.png">
          </a>
        </div>  
      </div> 
      <div class="cata_sub">
        <div class="one">
          <a href="scenery">
              <img src="../../work/img/viewpoint.png">
          </a>
        </div>  
      </div>     
  </div>
</div>
<div class="cata_shop">
  <a href="https://tw.mall.yahoo.com/store/csc">
      <img src="../../work/img/yahoo.png">
  </a>
</div>  


